@model IEnumerable<MassageStudioApp.Models.Hour.AllHoursVM>

@{
    ViewData["Title"] = "Index";
}

<h1>График</h1>

<p>
    <a asp-action="Create">Добави час</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FreeHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBusy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FreeHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBusy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFullName)
            </td>
            <td>
                <a asp-action="Create" asp-controller="Reservations" asp-route-id="@item.Id">Резервирай</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Коригирай</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
